<mat-nav-list>
  <a mat-list-item routerLink="/food" (click)="closeSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Food</span>
  </a>
  <a mat-list-item routerLink="/accommodation" (click)="closeSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Accommodation</span>
  </a>
  <a mat-list-item routerLink="/celebrations" (click)="closeSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Celebrations</span>
  </a>

  <a mat-list-item routerLink="/lifestyle" (click)="closeSidenav()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Lifestyle</span>
  </a>
  <a mat-list-item routerLink="/offers" (click)="closeSidenav()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Offers</span>
  </a>
  <a mat-list-item routerLink="/weddings" (click)="closeSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Weddings</span>
  </a>
  <a mat-list-item routerLink="/singin" (click)="closeSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Singin</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="closeSidenav()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="closeSidenav()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
